@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: auto 0;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
section {
  min-height: 100vh;
}

.hero-section {
  height: 90vh;
  overflow:hidden;
}

.name h1 {
  font-size: 75px;
  font-family: 'Melodrama', serif;
  padding:250px 0 0 0;
  text-align: center;
  font-weight: 300;
  z-index: -99;
  line-height: 0.8;
}
	
.name h1:after   {
  content: "Software Engineer";
  padding: 20px 0;
  display: block;
  font-size: 13px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.about-section {
  text-align: center;
}

.myImage {
  text-align: center;
  margin: 40px 0 0 0;
  position: relative;
  z-index: -99;
}

.myImage img {
  width: auto;
  height: 500px;
  border: 1px solid #000;
  filter: grayscale(100%);
  z-index: -99;
}

.about-me {
  text-align: left;
  z-index: -99;
}


.about-me p {
  padding:0 10px 20px 7%;
  line-height: 1.2;
  font-size:36px;
   font-family: 'Melodrama', serif;
   z-index: -99;
}

.about-me span {
  font-size:42px;
   font-family: 'Melodrama', serif;
    color: #000;
}



section .content p {
  position: absolute;
  line-height: 1.2;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  top: 300px;
  padding: 0 30% 0 30%;
  opacity:0;
}

section .content a{
  text-decoration: none;
  font-size: 18px;
  color: #FF8C32;
}

section .projects p {
  position: absolute;
  line-height: 1.2;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  top: 300px;
  padding: 0 30% 0 30%;
  opacity:0;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #252525;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;

}


#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #252525;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;

}

#active:checked ~ .menu-btn {
  background: #FFF;
  color: #252525;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

input {
  display: none;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 99;
  padding: 0;

}

.wrapper ul li {
  z-index: 99;
  padding: 0;
  margin: 30px 0;
}

.wrapper ul li a {
  position: relative;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Melodrama', serif;
  z-index:99;
  padding: 10px;

}

.wrapper a:hover, li:hover {
  color: #484848;
  cursor: pointer;
}

#My_photo {
  position: relative;
  display: inline-block;
}

#My_photo img {
  position: absolute;
  bottom: 0;
  border-radius: 50px;
  height: 80px;
  width: 250px;
  z-index: -10;
}


.wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 50px;
  height: 200px;
  width: auto;
}

.top {
  animation-name: fade;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#svvg {
  position: absolute;
  top:20px;
  right: 20%;
  width: 700px;
  height: 700px;
  filter: blur(130px);
  animation: moving infinite;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  transition: all 4s ease-in-out;
}

@keyframes moving {
  0% {transform: translateX(0px);}
  30% {transform: translateX(-800px);}
  60% {transform: translateY(200px);}
  90% {transform: translateX(140px);}
  100% {transform: translateX(0);}
}

.header {
  position: absolute;

  top:24px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  height: 250px;
  width:250px;
}

.header img:hover {
  cursor: pointer;
}

.links {
  position: absolute;
  bottom: 6px;
  height: 70px;
  width: 100%;
  display: flex;  
  justify-content:flex-end;
  align-items: center;
  background: #FFF;
}

.links_item {
  margin: 70px;
}

.projects_button a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 18px 26px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 50px;
  margin: 0 200px;
}

.normal_button a {
  font-size: 16px;
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}


.footer {
  position: absolute;
  bottom: 25px;
  height: 70px;
  width: 100%;
  display: flex;  
  justify-content:  center;
  align-items: center;
  background: #;
}

.footer_item {
  margin: 20px;

}

.footer_item a {
  font-size: 15px;
  letter-spacing: 3px;
  font-family: 'Melodrama', serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
    
}

.footer_item a:hover {
  cursor: pointer;
  text-decoration: line-through;
  transition: all 0.4s ease-in-out;
}

#projects {
  background: #1A4D2E;
  color: #fff;
  padding: 10px 14px;
  filter: drop-shadow(2px 4px 0 #000  );
  border: 2px solid #1A4D2E ;
}

#email {
  color: #F2F2F2;
}

#about {
  background: #FF9F29;
  color: #000;
    padding: 10px 14px;
      filter: drop-shadow(2px 4px 0 #000  );
      border: 2px solid #FF9F29;
}

#linkedin {
  color: #F2F2F2;
}

#year {
  color: #F2F2F2;
}

#year:hover {
  text-decoration: none;
  cursor: default;
}



}

@media screen and (min-width: 1200px) {
section {
	min-height: 100vh;
}

.name h1 {
  font-size: 130px;
  font-family: 'Melodrama', serif;
  padding:250px 0 0 0;
  text-align: center;
  font-weight: 300;
  z-index: -99;
}
.name h1:after   {
  content: "Software Engineer";
  padding: 40px 0;
  display: block;
  font-size: 24px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-section {
  overflow: hidden;
}
	
.about-section {
  overflow: hidden;
  text-align: center;
}

.myImage {
  text-align: center;
  margin: 80px 0 0 0;
  position: relative;
  z-index: -99;
}

.myImage img {
  width: auto;
  height: 550px;
  border: 1px solid #000;
  filter: grayscale(100%);
  z-index: -99;
}

.about-me {
  text-align: center;
  padding:0 10% 0 10%;
}

.about-me p {
  line-height: 1.2;
  font-size:42px;
   font-family: 'Melodrama', serif;
}

.about-me span {
  font-size:42px;
   font-family: 'Melodrama', serif;
    color: #000;
}



section .content p {
	position: absolute;
	line-height: 1.2;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	top: 300px;
	padding: 0 30% 0 30%;
	opacity:0;
}

section .content a{
	text-decoration: none;
	font-size: 18px;
	color: #FF8C32;
}

section .projects p {
	position: absolute;
	line-height: 1.2;
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	top: 300px;
	padding: 0 30% 0 30%;
	opacity:0;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #252525;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;

}


#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #252525;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;

}

#active:checked ~ .menu-btn {
  background: #FFF;
  color: #252525;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

input {
  display: none;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 99;
  padding: 0;

}

.wrapper ul li {
  z-index: 99;
  padding: 0;
  margin: 30px 0;
}

.wrapper ul li a {
  position: relative;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100px;
  font-family: 'Melodrama', serif;
  z-index:99;
  padding: 10px;

}

.wrapper a:hover, li:hover {
  color: #484848;
  cursor: pointer;
}

#My_photo {
	position: relative;
	display: inline-block;
}

#My_photo img {
	position: absolute;
	bottom: 0;
	border-radius: 50px;
	height: 80px;
	width: 250px;
  z-index: -10;
}


.wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
	border-radius: 50px;
	height: 200px;
	width: auto;
}

.top {
  animation-name: fade;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
  	opacity: 1;
  }
  75% {
  	opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#svvg {
  position: absolute;
  top:20px;
  right: 20%;
  width: 700px;
  height: 700px;
  filter: blur(130px);
  animation: moving infinite;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  transition: all 4s ease-in-out;
}

@keyframes moving {
	0% {transform: translateX(0px);}
	30% {transform: translateX(-800px);}
	60% {transform: translateY(200px);}
	90% {transform: translateX(140px);}
	100% {transform: translateX(0);}
}

.header {
	position: absolute;

	top:24px;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header img {
	height: 250px;
	width:250px;
}

.header img:hover {
	cursor: pointer;
}

.links {
	position: absolute;
	bottom: 6px;
	height: 70px;
	width: 100%;
	display: flex;	
	justify-content:flex-end;
	align-items: center;
	background: #FFF;
}

.links_item {
	margin: 70px;
}

.projects_button a {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding: 18px 26px;
	background: #000000;
	color: #FFFFFF;
	border-radius: 50px;
	margin: 0 200px;
}

.normal_button a {
	font-size: 16px;
	letter-spacing: 3px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	text-decoration: none;
	color: #000;
}


.footer {
	position: absolute;
	bottom: 25px;
	height: 70px;
	width: 100%;
	display: flex;	
	justify-content:  center;
	align-items: center;
	background: #;
}

.footer_item {
	margin: 40px;

}

.footer_item a {
	font-size: 18px;
	letter-spacing: 3px;
	font-family: 'Melodrama', serif;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
		
}

.footer_item a:hover {
	cursor: pointer;
	text-decoration: line-through;
	transition: all 0.4s ease-in-out;
}

#projects {
	background: #1A4D2E;
	color: #fff;
	padding: 10px 14px;
	filter: drop-shadow(2px 4px 0 #000  );
	border: 2px solid #1A4D2E ;
}

#email {
	color: #F2F2F2;
}

#about {
	background: #FF9F29;
	color: #000;
	padding: 10px 14px;
filter: drop-shadow(2px 4px 0 #000  );
  border: 2px solid #FF9F29;
}

#linkedin {
	color: #F2F2F2;
}

#year {
  color: #F2F2F2;
}

#year:hover {
  text-decoration: none;
  cursor: default;
}
	

.projects {
  overflow: hidden;
  height: 100vh;
}

.projects-caption h2{
  position: relative;
  top: 350px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  z-index: -99;
}

}


