@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    overflow: hidden;
  margin: auto 0;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
section {
  height: 100vh;
}

.name h1 {
  font-size: 70px;
  font-family: 'Melodrama', serif;
  padding:250px 0 0 0;
  text-align: center;
  font-weight: 300;
  z-index: -99;
  line-height: 0.8;
}
.name h1:after   {
  content: "Software Engineer";
  padding: 20px 0;
  display: block;
  font-size: 13px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.about-section {
  text-align: center;
}

.myImage {
  text-align: center;
  margin: 40px 0 0 0;
  position: relative;
  z-index: -99;
}

.myImage img {
  width: auto;
  height: 500px;
  border: 1px solid #000;
  filter: grayscale(100%);
  z-index: -99;
}

.about-me {
  text-align: left;
  z-index: -99;
}

.about-me p {
  position: absolute;
  bottom: 10px;
  padding:0 50px 0 7%;
  line-height: 1.2;
  font-size:40px;
   font-family: 'Melodrama', serif;
   z-index: -99;
}

.about-me span {
  font-size:42px;
   font-family: 'Melodrama', serif;
    color: #000;
}



section .content p {
  position: absolute;
  line-height: 1.2;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  top: 300px;
  padding: 0 30% 0 30%;
  opacity:0;
}

section .content a{
  text-decoration: none;
  font-size: 18px;
  color: #FF8C32;
}

section .projects p {
  position: absolute;
  line-height: 1.2;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  top: 300px;
  padding: 0 30% 0 30%;
  opacity:0;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #252525;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;

}


#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #252525;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;

}

#active:checked ~ .menu-btn {
  background: #FFF;
  color: #252525;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

input {
  display: none;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 99;
  padding: 0;

}

.wrapper ul li {
  z-index: 99;
  padding: 0;
  margin: 30px 0;
}

.wrapper ul li a {
  position: relative;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Melodrama', serif;
  z-index:99;
  padding: 10px;

}

.wrapper a:hover, li:hover {
  color: #484848;
  cursor: pointer;
}

#My_photo {
  position: relative;
  display: inline-block;
}

#My_photo img {
  position: absolute;
  bottom: 0;
  border-radius: 50px;
  height: 80px;
  width: 250px;
  z-index: -10;
}


.wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 50px;
  height: 200px;
  width: auto;
}

.top {
  animation-name: fade;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#svvg {
  position: absolute;
  top:20px;
  right: 20%;
  width: 700px;
  height: 700px;
  filter: blur(130px);
  animation: moving infinite;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  transition: all 4s ease-in-out;
}

@keyframes moving {
  0% {transform: translateX(0px);}
  30% {transform: translateX(-800px);}
  60% {transform: translateY(200px);}
  90% {transform: translateX(140px);}
  100% {transform: translateX(0);}
}

.header {
  position: absolute;

  top:24px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  height: 250px;
  width:250px;
}

.header img:hover {
  cursor: pointer;
}

.links {
  position: absolute;
  bottom: 6px;
  height: 70px;
  width: 100%;
  display: flex;  
  justify-content:flex-end;
  align-items: center;
  background: #FFF;
}

.links_item {
  margin: 70px;
}

.projects_button a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 18px 26px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 50px;
  margin: 0 200px;
}

.normal_button a {
  font-size: 16px;
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}


.footer {
  position: absolute;
  bottom: 25px;
  height: 70px;
  width: 100%;
  display: flex;  
  justify-content:  center;
  align-items: center;
  background: #;
}

.footer_item {
  margin: 20px;

}

.footer_item a {
  font-size: 15px;
  letter-spacing: 3px;
  font-family: 'Melodrama', serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
    
}

.footer_item a:hover {
  cursor: pointer;
  text-decoration: line-through;
  transition: all 0.4s ease-in-out;
}

#projects {
  background: #1A4D2E;
  color: #fff;
  padding: 10px 14px;
  filter: drop-shadow(2px 4px 0 #000  );
  border: 2px solid #1A4D2E ;
}

#email {
  color: #F2F2F2;
}

#about {
  background: #FF9F29;
  color: #000;
    padding: 10px 14px;
      filter: drop-shadow(2px 4px 0 #000  );
      border: 2px solid #FF9F29;
}

#linkedin {
  color: #F2F2F2;
}

#year {
  color: #F2F2F2;
}

#year:hover {
  text-decoration: none;
  cursor: default;
}


.timeline-carousel {
  height: 100vh;
  padding: 86px 6.9444% 90px 6.9444%;
  position: relative;
  overflow: hidden;
  background: #252525;
  font-family: 'Poppins', sans-serif;

}

.workshop-desc {
  position: relative;
  font-size: 50px ;
  bottom: 300px;
  left: 15%;
  color: #FFF;
  font-weight: 300;
  font-family: 'Melodrama', serif;
}
.timeline-carousel:after, .timeline-carousel:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 6.9444%;
  background-color: #252525;
  z-index: 3;
  width: 6.9444%;
}
.timeline-carousel:after {
  left: 0;
}
.timeline-carousel:before {
  right: 0;
  opacity: 0;
}
.timeline-carousel .slick-list {
  overflow: visible;
}
.timeline-carousel .slick-dots {
  bottom: -73px;
}
.timeline-carousel h1 {
  color: #ffffff;
  font-size: 10px;
  line-height: 50pd;
  margin-bottom: 40px;
  font-weight: 900;
}
.timeline-carousel__image {
  padding-right: 30px;

}
.timeline-carousel__item {
  height: 850px;
  cursor: url('./img/56.png'), auto;
}

.timeline-carousel__item .media-wrapper {
  opacity: 0.4;
  padding-bottom: 71.4%;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.timeline-carousel__item:last-child .timeline-carousel__item-inner:after {
  width: calc(100% - 30px);
}
.timeline-carousel__item-inner {
  position: relative;
  padding-top: 45px;
}
.timeline-carousel__item-inner:after {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  content: "";
 
}
.timeline-carousel__item-inner .year {
  font-size: 22px;
  line-height: 36px;
  color: #F9F9F9;
  display: table;
  letter-spacing: -1px;
  padding-right: 10px;
  z-index: 1;
  position: relative;
  margin: -15px 0 20px;
  font-weight: 200;
}
.timeline-carousel__item-inner .year:after {
  content: "";
  position: absolute;
  display: block;
  left: -10px;
  top: 0;
  height: 100%;
  width: 10px;
  z-index: 3;
}
.timeline-carousel__item-inner .month {
  font-size: 11px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin-bottom: 10px;
  font-weight: 900;
}
.timeline-carousel__item-inner p {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  width: 60%;
  font-weight: 400;
  margin-bottom: 15px;
}
.timeline-carousel__item-inner .read-more {
  font-size: 12px;
  color: #b38c52;
  display: table;
  margin-bottom: 10px;
  font-weight: 900;
  text-decoration: none;
  position: relative;
}
.timeline-carousel__item-inner .read-more:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  border-bottom: 2px solid #b38c52;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.timeline-carousel__item-inner .read-more:hover:after {
  width: 100%;
}
.timeline-carousel__item-inner .pointer {
  height: 29px;
  position: relative;
  z-index: 1;
  margin: -4px 0 16px;
}
.timeline-carousel__item-inner .pointer:after, .timeline-carousel__item-inner .pointer:before {
  position: absolute;
  content: "";
}
.timeline-carousel__item-inner .pointer:after {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  top: 0;
  left: 0;
  background-color: #b38c52;
}
.timeline-carousel__item-inner .pointer:before {
  width: 1px;
  height: 100%;
  top: 0;
  left: 4px;
  background-color: #ffffff;
}
.timeline-carousel .slick-active .media-wrapper {
  opacity: 1 !important;
}

.slick-dots {
  bottom: 60px;
  list-style: none;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 2;

}
.slick-dots li {
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  position: relative;
  width: 10px;
  height: 10px;
  display: none;
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li.slick-active button {
  background: #000000;
  border-color: #000000;

}
.slick-dots li button {
  display: block;
  font-size: 0;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.slick-dots li button:hover {
  background: #b38c52;
  border-color: #b38c52;
}

}

@media screen and (min-width: 1200px) {
section {
	min-height: 100vh;
}

.name h1 {
	font-size: 130px;
	font-family: 'Melodrama', serif;
	padding:250px 0 0 0;
	text-align: center;
  font-weight: 300;
  z-index: -99;
}
.name h1:after   {
  content: "Software Engineer";
  padding: 40px 0;
  display: block;
  font-size: 24px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.about-section {
  text-align: center;
}

.myImage {
  text-align: center;
  margin: 80px 0 0 0;
  position: relative;
  z-index: -99;
}

.myImage img {
  width: auto;
  height: 550px;
  border: 1px solid #000;
  filter: grayscale(100%);
  z-index: -99;
}

.about-me {

  text-align: center;
  padding:0 10% 0 10%;
}

.about-me p {
  line-height: 1.2;
  font-size:42px;
   font-family: 'Melodrama', serif;
}

.about-me span {
  font-size:42px;
   font-family: 'Melodrama', serif;
    color: #000;
}



section .content p {
	position: absolute;
	line-height: 1.2;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	top: 300px;
	padding: 0 30% 0 30%;
	opacity:0;
}

section .content a{
	text-decoration: none;
	font-size: 18px;
	color: #FF8C32;
}

section .projects p {
	position: absolute;
	line-height: 1.2;
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	top: 300px;
	padding: 0 30% 0 30%;
	opacity:0;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #252525;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;

}


#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #252525;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;

}

#active:checked ~ .menu-btn {
  background: #FFF;
  color: #252525;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

input {
  display: none;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 99;
  padding: 0;

}

.wrapper ul li {
  z-index: 99;
  padding: 0;
  margin: 30px 0;
}

.wrapper ul li a {
  position: relative;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100px;
  font-family: 'Melodrama', serif;
  z-index:99;
  padding: 10px;

}

.wrapper a:hover, li:hover {
  color: #484848;
  cursor: pointer;
}

#My_photo {
	position: relative;
	display: inline-block;
}

#My_photo img {
	position: absolute;
	bottom: 0;
	border-radius: 50px;
	height: 80px;
	width: 250px;
  z-index: -10;
}


.wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
	border-radius: 50px;
	height: 200px;
	width: auto;
}

.top {
  animation-name: fade;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
  	opacity: 1;
  }
  75% {
  	opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#svvg {
  position: absolute;
  top:20px;
  right: 20%;
  width: 700px;
  height: 700px;
  filter: blur(130px);
  animation: moving infinite;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  transition: all 4s ease-in-out;
}

@keyframes moving {
	0% {transform: translateX(0px);}
	30% {transform: translateX(-800px);}
	60% {transform: translateY(200px);}
	90% {transform: translateX(140px);}
	100% {transform: translateX(0);}
}

.header {
	position: absolute;

	top:24px;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header img {
	height: 250px;
	width:250px;
}

.header img:hover {
	cursor: pointer;
}

.links {
	position: absolute;
	bottom: 6px;
	height: 70px;
	width: 100%;
	display: flex;	
	justify-content:flex-end;
	align-items: center;
	background: #FFF;
}

.links_item {
	margin: 70px;
}

.projects_button a {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding: 18px 26px;
	background: #000000;
	color: #FFFFFF;
	border-radius: 50px;
	margin: 0 200px;
}

.normal_button a {
	font-size: 16px;
	letter-spacing: 3px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	text-decoration: none;
	color: #000;
}


.footer {
	position: absolute;
	bottom: 25px;
	height: 70px;
	width: 100%;
	display: flex;	
	justify-content:  center;
	align-items: center;
	background: #;
}

.footer_item {
	margin: 40px;

}

.footer_item a {
	font-size: 18px;
	letter-spacing: 3px;
	font-family: 'Melodrama', serif;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
		
}

.footer_item a:hover {
	cursor: pointer;
	text-decoration: line-through;
	transition: all 0.4s ease-in-out;
}

#projects {
	background: #1A4D2E;
	color: #fff;
	padding: 10px 14px;
	filter: drop-shadow(2px 4px 0 #000  );
	border: 2px solid #1A4D2E ;
}

#email {
	color: #F2F2F2;
}

#about {
	background: #FF9F29;
	color: #000;
		padding: 10px 14px;
		  filter: drop-shadow(2px 4px 0 #000  );
		  border: 2px solid #FF9F29;
}

#linkedin {
	color: #F2F2F2;
}

#year {
  color: #F2F2F2;
}

#year:hover {
  text-decoration: none;
  cursor: default;
}


.timeline-carousel {
	height: 100vh;
  padding: 86px 6.9444% 90px 6.9444%;
  position: relative;
  overflow: hidden;
  background: #252525;
  font-family: 'Poppins', sans-serif;

}

.workshop-desc {
  position: relative;
  font-size: 50px ;
  bottom: 300px;
  left: 15%;
  color: #FFF;
  font-weight: 300;
}
.timeline-carousel:after, .timeline-carousel:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 6.9444%;
  background-color: #252525;
  z-index: 3;
  width: 6.9444%;
}
.timeline-carousel:after {
  left: 0;
}
.timeline-carousel:before {
  right: 0;
  opacity: 0;
}
.timeline-carousel .slick-list {
  overflow: visible;
}
.timeline-carousel .slick-dots {
  bottom: -73px;
}
.timeline-carousel h1 {
  color: #ffffff;
  font-size: 10px;
  line-height: 50pd;
  margin-bottom: 40px;
  font-weight: 900;
}
.timeline-carousel__image {
  padding-right: 30px;

}
.timeline-carousel__item {
  height: 850px;
  cursor: url('./img/56.png'), auto;
}

.timeline-carousel__item .media-wrapper {
  opacity: 0.4;
  padding-bottom: 71.4%;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.timeline-carousel__item:last-child .timeline-carousel__item-inner:after {
  width: calc(100% - 30px);
}
.timeline-carousel__item-inner {
  position: relative;
  padding-top: 45px;
}
.timeline-carousel__item-inner:after {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  content: "";
 
}
.timeline-carousel__item-inner .year {
  font-size: 22px;
  line-height: 36px;
  color: #F9F9F9;
  display: table;
  letter-spacing: -1px;
  padding-right: 10px;
  z-index: 1;
  position: relative;
  margin: -15px 0 20px;
  font-weight: 200;
}
.timeline-carousel__item-inner .year:after {
  content: "";
  position: absolute;
  display: block;
  left: -10px;
  top: 0;
  height: 100%;
  width: 10px;
  z-index: 3;
}
.timeline-carousel__item-inner .month {
  font-size: 11px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin-bottom: 10px;
  font-weight: 900;
}
.timeline-carousel__item-inner p {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  width: 60%;
  font-weight: 400;
  margin-bottom: 15px;
}
.timeline-carousel__item-inner .read-more {
  font-size: 12px;
  color: #b38c52;
  display: table;
  margin-bottom: 10px;
  font-weight: 900;
  text-decoration: none;
  position: relative;
}
.timeline-carousel__item-inner .read-more:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  border-bottom: 2px solid #b38c52;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.timeline-carousel__item-inner .read-more:hover:after {
  width: 100%;
}
.timeline-carousel__item-inner .pointer {
  height: 29px;
  position: relative;
  z-index: 1;
  margin: -4px 0 16px;
}
.timeline-carousel__item-inner .pointer:after, .timeline-carousel__item-inner .pointer:before {
  position: absolute;
  content: "";
}
.timeline-carousel__item-inner .pointer:after {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  top: 0;
  left: 0;
  background-color: #b38c52;
}
.timeline-carousel__item-inner .pointer:before {
  width: 1px;
  height: 100%;
  top: 0;
  left: 4px;
  background-color: #ffffff;
}
.timeline-carousel .slick-active .media-wrapper {
  opacity: 1 !important;
}

.slick-dots {
  bottom: 60px;
  list-style: none;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 2;

}
.slick-dots li {
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  position: relative;
  width: 10px;
  height: 10px;
  display: none;
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li.slick-active button {
  background: #000000;
  border-color: #000000;

}
.slick-dots li button {
  display: block;
  font-size: 0;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.slick-dots li button:hover {
  background: #b38c52;
  border-color: #b38c52;
}

}


